<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/UnAuth.css" />
    <title>UnAuth</title>
  </head>
  <body>
    <div class="container">
      <h1>Access denied!</h1>
      <button><a href="/"> Go back...</a></button>
    </div>
  </body>
</html>
